body {
	background: url(.\assets\images\psychedelic_pattern\psychedelic_pattern_@2X.png)
}

/* Container holding the image and the text */
.container {
	position: relative;
}

/* Bottom right text */
.text-block {
	position: absolute;
	bottom: 20px;
	left: 20px;
	background-color: teal;
	color: white;
	padding-left: 20px;
	padding-right: 20px;
	font-family: cursive;
}

.media img {
width: 100px;
}

footer {
	background-color: darkslategray;
	color: white;
	text-align: center;
	padding: 20px;
	position: fixed;
	bottom: 0;
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
}